.container{
    cursor: pointer;
    border-radius: 20px;
    width: 350px;
    margin:  1rem;
    border: 4px solid #fff;
    padding: 30px 30px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .12);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .12);
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.container:hover{
    border: 4px solid #00b6ff;
}