.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  border: 2px solid white;
  border-radius: 10px;
  min-width: 200px;

  width: auto;
  padding: 2rem;
}

.error{
  color:red;
}