.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(65, 64, 66);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}