.containerAll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerTransaction {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: 2px solid #000;
    border-radius: 2rem;

    max-width: 500px;

    flex-grow: 1;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 1rem;
}
.dispute{
    color:red
}