.container{
  display:  flex;
  flex-direction: column;
  align-items: center;
}

.containerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: var(--primart-color);
  font-weight: 700;
  font-size: 22px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.box {
  border: 2px solid white;
  border-radius: 10px;
  min-width: 200px;

  width: auto;
  padding: 2rem;
}

.form_input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}